body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:  column;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 660px;
    align-items: center;
    margin-top: 80px;
}

.box-container {
    width: 500px;
    height: 500px;
    display: grid;
    border: 1px solid black;
    margin-top: 20px;
}
